.collection-page {
    display: flex;
    flex-direction: column;

    .title {
        font-size: 28px;
        margin: 0 auto 30px;
    }

    .products {
        display: flex;
        justify-content: center;
        align-content: center;

        @media (min-width: 10rem) {
            flex-wrap: wrap;
        }

        @media (min-width: 35rem) {
            justify-content: space-evenly;
        }

        @media (min-width: 56rem) {
            justify-content: space-evenly;
        }
    }
}