.collection-page {
    display: flex;
    flex-direction: column;
    width: 100%;

    .title {
        font-size: 28px;
        display: flex;
    }

    .products {
        display: flex;
        justify-content: center;
        align-content: center;
        box-sizing: border-box;

        @media (min-width: 10rem) {
            flex-wrap: wrap;
        }

        @media (min-width: 35rem) {
            justify-content: space-evenly;
        }

        @media (min-width: 56rem) {
            justify-content: space-evenly;
        }
    }
}