.homepage {
    margin-left: 1em;
    margin-right: 1em;
    width: 90vw;

    .cta-text-container {
        text-align: center;

        h1 {
            font-weight: 700;
            font-size: 40px;
        }
    }
}