.custom-button {
  min-width: 120px;
  height: 60px;
  padding: 0 1rem 0 1rem;
  margin-top: 1rem;
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid black;
  }

  &.max-width {
    width: 100%;
  }

  &.favourite {
    margin-top: 5px;
    height: 30px;
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}

@media screen and (min-width: 10rem) {
  .custom-button {
    font-size: 14px;
  }
}

@media screen and (min-width: 56rem) {
  .custom-button {
    font-size: 16px;
  }
}
